:root {
    --main-text-color: black;
    --title-text-color: #14017D;
    --accent-color: rgb(53, 194, 291);
    --btn-bck-color: #D588FA;
}
/* основний колір  #14017D */
/* другорядний колір background: #000000 */

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 40px;

    color: var(--main-text-color);
    background-color: #FBDCF9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Amatic SC, sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.21;
    text-align: center;
    margin: 0;

    color: var(--title-text-color);
}
p, ul {
    margin: 0;
}

img {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    min-width: 410px;
    padding: 24px 24px;
    
    border: none;
    border-radius: 50px;
    cursor: pointer;

    color: var(--title-text-color);
    background-color: var(--btn-bck-color);
}

.btn-link {
    display: inline-block;
    padding: 24px 24px;
    min-width: 410px;
    text-decoration: none;
    text-align: center;
    
    border: none;
    border-radius: 50px;
    cursor: pointer;

    color: var(--title-text-color);
    background-color: var(--btn-bck-color);
}

.btn-link:hover,
.btn-link:focus,
.btn:hover,
.btn:focus {
    color: var(--accent-color);
    background-color: rgb(118, 21, 177);
}

.container {
    width: 1302px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
/* site nav */
.header {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 104px;
    gap: 104px;
}

.header .item {
    margin-left: auto;
}

.site-nav a {
    display:block;
    padding-top: 22px;
    padding-bottom: 22px;

    font-family: Amatic SC, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: auto;
    text-decoration: none;

    color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* section */
.section {
    padding-top: 52px;
    padding-bottom: 52px;
}

.text {
    font-size: 48px;
}

/* hero */

.hero-title {
    font-size: 64px;
}
.hero .hero-title {
    margin-bottom: 80px;
}

/* OPPORTUNITIES */

.description h2 {
    margin-bottom: 100px;
}

.description-list {
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-around; */
}


.description-list li {
    width: 489px;
    /* flex-basis: ((100% - 240px) / 2); */
    
}

.description-list li:nth-child(2n + 1) {
    margin-right: 200px;
}

.description-list li:nth-child(2n) {
    margin-left: auto;
    margin-bottom: 30px;
}

/* FOR WHOM THIS SCHOOL */

.belong h2 {
    margin-bottom: 46px;
}

.belong .history-text {
    margin-bottom: 97px;
}
/* COURSES */ 
.courses-text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 48px;

    color: var(--main-text-color);
}

.courses h2 {
    margin-bottom: 80px;
}

.courses-list {
    display: flex;
    gap: 23px;
    justify-content: center;
}

.courses-list h3,
.courses-list img,
.courses-list p {
    margin-bottom: 60px;
    text-align: center;
}

/*FORMAT OF LESSONS */

.format h2 {
    margin-bottom: 95px;
}

.format li:not(:last-child) {
    margin-bottom: 20px;
}

/* REVIEWS */

.reviews {
    text-align: center;
}

.reviews h2 {
    margin-bottom: 85px;
}

.reviews-box {
    height: 466px;
    margin-bottom: 148px;
    
    background-image: url("../images/reviews.png");
    background-color: #FBDCF9;
    overflow: hidden;
}

.reviews-box p {
    display: inline-block;
    text-align: left;
    padding: 45px;
    margin-top: 71px;
    width: 890px;
    height: 324px;

    background-color: #FBDCF9;
}

/* HELP */

.help {
    text-align: center;
}

.help h2 {
    margin-bottom: 74px;
}

.help button {
    margin-bottom: 100px;
}

/* FOOTER */ 

.footer {
    max-width: 1439px;
    background-image: url("../images/footer-bck.png");
}

.footer-text {
    display: inline-block;

    font-family: Amatic SC, sans-serif;
    font-weight: 700;
    font-size: 96px;
   
    text-decoration: none;

    color: var(--title-text-color);
    background-color: #D9D9D9;
    border-radius: 20px;

}


.flex {
    display: flex;
    margin-bottom: 55px;
}

.flex > ul {
    width: 420px;
}

.footer-item {
    margin-bottom: 11px;
}

.footer p {
   margin-left: 253px;
}

.socials-list {
    display: flex;
    gap: 48px;
    margin-left: auto;
}

.social-link {
    color: var(--title-text-color);
}

.icon {
    fill: currentColor;
}

.icon:hover,
.icon:focus {
    fill: var(--accent-color);
}
/* DOODLE SKETCH */

.hero-sketch {
    text-align: center;
}

.hero-sketch h3 {
    margin-bottom: 44px;
}

.about-flex {
    display: flex;
    align-items: center;
}

.sketch-about p {
    margin-left: 30px;
    margin-bottom: 70px;
}

.sketch-about li:not(:last-child) {
    margin-bottom: 60px;
}

.sketch-examples {
    display: flex;
    gap: 24px;
    margin-top: 81px;
}

.sketch-title {
    margin-bottom: 81px;
}

.sketch-text:not(:last-child) {
    margin-bottom: 20px;
}

.sketch-works {
    display: flex;
    gap: 24px;
}

.sketch-teacher {
    display: flex;
    justify-content: space-between;
}

.teacher-item {
    width: 632px;
}

/* PROCREATE PAGE */

.procreate-hero {
    text-align: center;
}

.procreate-hero h3 {
    margin-bottom: 67px;
}

.procreate-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.procreate-about p {
    margin-bottom: 30px;
}

.procreate-about li:not(:last-child) {
    margin-bottom: 35px;
}

.procreate-examples {
    display: flex;
    gap: 24px;
}

.procreate-works {
    display: flex;
    gap: 24px;
}

.procreate-teacher {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NFT PAGE */

.nft-about {
    display: flex;
}

.nft-about p {
    margin-bottom: 70px;
}

.nft-about li:not(:last-child) {
    margin-bottom: 40px;
}

.nft-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.nft-works {
    display: flex;
    gap: 24px;
}

.nft-teacher {
    display: flex;
    justify-content: space-between;
}

/* HISTORIES PAGE */

.history-hero {
    text-align: center;
}

.histories p,
.histories img:nth-last-child(n + 3) {
   margin-bottom: 35px;
   margin-left: 225px;
}

.histories .text-history {
    margin-left: 0;
    margin-bottom: 100px;
}
.histories .text-decoration {
    margin-left: 260px;
    margin-bottom: 88px;
}

.histories-flex {
    display: flex;
    gap: 24px;
    margin-bottom: 79px;
}

.text-history {
    margin-left: 0;
}

.history-text {
    font-size: 48px;

    color: var(--title-text-color);
}
.text-decoration {
    font-size: 48px;
}
.text-decoration::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        margin-right: 15px;
        margin-bottom: 10px;
        background-color: var(--main-text-color);
}