:root {
  --main-text-color: black;
  --title-text-color: #14017D;
  --accent-color: rgb(53, 194, 291);
  --btn-bck-color: #D588FA;
  --input-bck: #F1E2DB;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--main-text-color);
  background-color: #FBDCF9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Amatic SC, sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.21;
  text-align: center;
  margin: 0;
  color: var(--title-text-color);
}

p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-thumb {
  overflow: hidden;
  border-radius: 50px;
}

a {
  cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 52px;
  padding-bottom: 52px;
}

.text {
  font-size: 48px;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  min-width: 410px;
  padding: 24px 24px;
  border: none;
  border-radius: 50px;
  cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;
  color: var(--title-text-color);
  background-color: var(--btn-bck-color);
  /* overflow: hidden; */
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover::before, .btn:focus::before {
  opacity: 1;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}
.btn:hover::after, .btn:focus::after {
  opacity: 1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  top: 30px;
  left: 181px;
  opacity: 0;
  background-image: url("../images/hat.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1), opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1), opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  bottom: 40px;
  opacity: 0;
  background-image: url("../images/rabbit.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link {
  position: relative;
  display: inline-block;
  padding: 24px 24px;
  min-width: 410px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 50px;
  cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;
  color: var(--title-text-color);
  background-color: var(--btn-bck-color);
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  top: 30px;
  left: 181px;
  opacity: 0;
  background-image: url("../images/hat.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link:hover::before,
.btn-link:focus::before {
  opacity: 1;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

.btn-link::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  bottom: 40px;
  left: 173px;
  opacity: 0;
  background-image: url("../images/rabbit.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link:hover::after,
.btn-link:focus::after {
  opacity: 1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.btn-link:hover,
.btn-link:focus,
.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: rgb(118, 21, 177);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  padding: 0;
  cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;
  background-color: transparent;
  color: var(--title-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  color: var(--accent-color);
}

.close-btn-icon {
  fill: currentColor;
}

.container {
  width: 1304px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* site nav */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  gap: 44px;
}

.header .bucket {
  margin-left: auto;
}

.site-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: Amatic SC, sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-decoration: none;
  overflow: hidden;
  color: var(--title-text-color);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.nav-link:nth-child(1):hover .nav-icon,
.nav-link:nth-child(1):focus .nav-icon {
  opacity: 1;
  -webkit-transform: translateX(510%);
          transform: translateX(510%);
}

.nav-link:nth-child(2):hover .nav-icon,
.nav-link:nth-child(2):focus .nav-icon {
  opacity: 1;
  -webkit-transform: translateX(620%);
          transform: translateX(620%);
}

.nav-link:nth-child(3):hover .nav-icon,
.nav-link:nth-child(3):focus .nav-icon {
  opacity: 1;
  -webkit-transform: translateX(380%);
          transform: translateX(380%);
}

.site-nav .current {
  color: var(--accent-color);
}

.nav-icon {
  fill: #14017D;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), transform 1800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), transform 1800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/footer-bck.png");
}

.footer-text {
  display: inline-block;
  font-family: Amatic SC, sans-serif;
  font-weight: 700;
  font-size: 96px;
  text-decoration: none;
  color: var(--title-text-color);
  background-color: #D9D9D9;
  border-radius: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

.flex > ul:not(:last-child) {
  width: 420px;
}

.footer-item {
  margin-bottom: 11px;
}

.footer-link {
  text-align: center;
  margin-bottom: 31px;
}

.footer-link .footer-text {
  display: inline-block;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.socials-list li:not(:last-child) {
  margin-right: 48px;
}

.social-link {
  color: var(--title-text-color);
  cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: currentColor;
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  fill: var(--accent-color);
}

.footer-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 459px;
  padding: 12px 22px;
}

/* MODAL WINDOWS */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/* .overlay.is-hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 844px;
  min-height: 664px;
  padding: 33px;
  text-align: center;
  border-radius: 50px;
  background-image: url("../images/footer-bck.png");
}

/* .backdrop.is-hidden .modal {
    transform: scale(5);
} */
.modal .icon {
  margin-top: 63px;
}

.modal button {
  margin-left: auto;
  margin-right: auto;
}

.form {
  position: relative;
  display: block;
  width: 778px;
  margin-top: 59px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
}

.form-input {
  width: 100%;
  padding: 28px 23px;
  background-color: #F1E2DB;
  border-color: #F1E2DB;
}

.form-input:not(:-moz-placeholder-shown) + .form-label {
  color: var(--main-text-color);
  transform: translateY(-105px);
}

.form-input:not(:-ms-input-placeholder) + .form-label {
  color: var(--main-text-color);
  transform: translateY(-105px);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--main-text-color);
  -webkit-transform: translateY(-105px);
          transform: translateY(-105px);
}

.form-label {
  position: absolute;
  left: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  color: var(--title-text-color);
}

/* Second modal window */
.modal-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 844px;
  min-height: 783px;
  padding: 50px;
  text-align: center;
  border-radius: 50px;
  background-image: url("../images/footer-bck.png");
}

.modal-signup h2 {
  margin-top: 30px;
  margin-bottom: 89px;
  background-color: var(--input-bck);
}

.modal-signup .close-btn {
  top: 2px;
  right: 2px;
}

.form-field {
  position: relative;
  margin-bottom: 50px;
}

.form-field:nth-child(2) {
  margin-bottom: 89px;
}

.histories-bck {
  width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  background-image: url("../images/histories/elipses/Ellipse1-min.png"), url("../images/histories/elipses/Ellipse2-min.png"), url("../images/histories/elipses/Ellipse3-min.png"), url("../images/histories/elipses/Ellipse4-min.png"), url("../images/histories/elipses/Ellipse5-min.png"), url("../images/histories/elipses/Ellipse6-min.png");
  background-repeat: no-repeat;
  background-position: 120px 120px, 1080px 71px, 716px 1039px, 32px 2190px, 670px 3360px, 63px 4420px;
}

.history-hero {
  text-align: center;
}

.history-hero .section-title {
  margin-bottom: 95px;
}

.history-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-title {
  position: absolute;
  width: 1242px;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, - 50%); */
  background-color: #F1E2DB;
}

.histories p {
  margin-bottom: 35px;
  margin-left: 225px;
}

.histories .img-thumb {
  width: 844px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

.histories .text-history {
  margin-left: 0;
  margin-bottom: 100px;
}

.histories .text-decoration {
  margin-left: 260px;
  margin-bottom: 88px;
}

.histories-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 79px;
}

.text-history {
  margin-left: 0;
}

.history-text {
  font-size: 48px;
  color: var(--title-text-color);
}

.text-decoration {
  font-size: 48px;
}

.text-decoration::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: var(--main-text-color);
}

.index-bck {
  width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  background-image: url("../images/elipses/Ellipse 24.png"), url("../images/elipses/Ellipse 25.png"), url("../images/elipses/Ellipse 26.png"), url("../images/elipses/Ellipse 27.png"), url("../images/elipses/Ellipse 28.png"), url("../images/elipses/Ellipse 29.png");
  background-repeat: no-repeat;
  background-position: 923px 22px, 768px 1915px, 124px 2831px, 748px 3870px, 64px 5570px, 963px 5531px;
}

/* hero */
.hero {
  background-image: url(../images/elipses/Ellipse\ 23.png);
  background-repeat: no-repeat;
  background-position: 152px 69px;
}

.hero-title {
  font-size: 64px;
}

.hero .hero-title {
  margin-bottom: 80px;
}

/* OPPORTUNITIES */
.description h2 {
  margin-bottom: 100px;
}

.description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-content: space-around; */
}

/* .description-list li:nth-child(2n + 1) {
    margin-right: 200px;
} */
.description-list li:nth-child(2n) {
  margin-left: auto;
  margin-bottom: 30px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 565px;
}

.item:nth-child(1):before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  min-width: 113px;
  height: 109px;
  background-image: url("../images/elipses/Ellipse 2.png");
}

.item:nth-child(2):before {
  content: "";
  display: inline-block;
  margin-right: 27px;
  min-width: 111px;
  height: 133px;
  background-image: url("../images/elipses/Ellipse 5.png");
}

.item:nth-child(3):before {
  content: "";
  display: inline-block;
  margin-right: 50px;
  width: 85px;
  height: 99px;
  background-image: url("../images/elipses/Ellipse 3.png");
}

.item:nth-child(4):before {
  content: "";
  display: inline-block;
  margin-right: 27px;
  min-width: 108px;
  height: 86px;
  background-image: url("../images/elipses/Ellipse 6.png");
}

.item:nth-child(5):before {
  content: "";
  display: inline-block;
  margin-right: 27px;
  min-width: 108px;
  height: 96px;
  background-image: url("../images/elipses/Ellipse 4.png");
}

.item:nth-child(6):before {
  content: "";
  display: inline-block;
  margin-right: 27px;
  min-width: 108px;
  height: 106px;
  background-image: url("../images/elipses/Ellipse 7.png");
}

/* FOR WHOM THIS SCHOOL */
.belong h2 {
  margin-bottom: 46px;
}

.belong .history-text {
  margin-bottom: 97px;
}

/* COURSES */
.courses-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: var(--main-text-color);
}

.courses h2 {
  margin-bottom: 80px;
}

.courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-list h3,
.courses-list .img-thumb,
.courses-list p {
  margin-bottom: 60px;
  text-align: center;
}

/*FORMAT OF LESSONS */
.format h2 {
  margin-bottom: 95px;
}

.format li:not(:last-child) {
  margin-bottom: 20px;
}

/* REVIEWS */
.reviews {
  text-align: center;
}

.reviews h2 {
  margin-bottom: 85px;
}

.reviews-box {
  height: 466px;
  margin-bottom: 148px;
  background-image: url("../images/reviews.png");
  background-color: #FBDCF9;
  overflow: hidden;
}

.reviews-box p {
  display: inline-block;
  text-align: left;
  padding: 45px;
  margin-top: 71px;
  width: 890px;
  height: 324px;
  background-color: #FBDCF9;
}

/* HELP */
.help {
  text-align: center;
}

.help h2 {
  margin-bottom: 74px;
}

.help button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.sketch-bck {
  width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  background-image: url("../images/doodle_sketch/elipses/Ellipse1-min.png"), url("../images/doodle_sketch/elipses/Ellipse2-min.png"), url("../images/doodle_sketch/elipses/Ellipse3-min.png"), url("../images/doodle_sketch/elipses/Ellipse4-min.png"), url("../images/doodle_sketch/elipses/Ellipse5-min.png"), url("../images/doodle_sketch/elipses/Ellipse6-min.png");
  background-repeat: no-repeat;
  background-position: 178px 119px, 1111px 47px, 260px 1100px, 900px 2780px, 265px 3610px, 16px 5300px;
}

.hero-sketch {
  text-align: center;
}

.hero-sketch h2 {
  margin-bottom: 98px;
}

.sketch-thumb {
  position: relative;
}

.hero-sketch h3 {
  position: absolute;
  width: 564px;
  left: 12%;
  top: 39%;
  background-color: rgba(245, 245, 245, 0.78);
}

.hero-sketch button {
  position: absolute;
  left: 17%;
  top: 68%;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sketch-about p {
  margin-left: 30px;
  margin-bottom: 70px;
}

.sketch-about ul {
  max-width: 620px;
}

.sketch-about li:not(:last-child) {
  margin-bottom: 60px;
}

.sketch-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 81px;
}

.sketch-title {
  margin-bottom: 81px;
}

.sketch-text:not(:last-child) {
  margin-bottom: 20px;
}

.sketch-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.sketch-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teacher-item {
  width: 632px;
}

.procreate-bck {
  width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  background-image: url("../images/doodle_procreate/elipses/Ellipse1-min.png"), url("../images/doodle_procreate/elipses/Ellipse2-min.png"), url("../images/doodle_procreate/elipses/Ellipse3-min.png"), url("../images/doodle_procreate/elipses/Ellipse4-min.png"), url("../images/doodle_procreate/elipses/Ellipse5-min.png"), url("../images/doodle_procreate/elipses/Ellipse6-min.png"), url("../images/doodle_procreate/elipses/Ellipse7-min.png");
  background-repeat: no-repeat;
  background-position: 153px 170px, 705px 0px, 0px 1300px, 858px 2100px, 115px 3500px, 160px 5430px, 610px 5170px;
}

.procreate-thumb {
  position: relative;
}

.procreate-hero {
  text-align: center;
}

.procreate-hero h2 {
  margin-bottom: 89px;
}

.procreate-hero h3 {
  position: absolute;
  width: 564px;
  left: 13%;
  top: 36%;
  background-color: rgba(245, 245, 245, 0.78);
}

.procreate-hero button {
  position: absolute;
  left: 17%;
  top: 67.5%;
}

.procreate-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procreate-about p {
  margin-bottom: 30px;
}

.procreate-about ul {
  max-width: 627px;
}

.procreate-about li:not(:last-child) {
  margin-bottom: 35px;
}

.procreate-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.procreate-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.procreate-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.nft-thumb {
  position: relative;
}

.nft-hero h3 {
  position: absolute;
  width: 564px;
  top: 34%;
  left: 9%;
  background-color: #F1E2DB;
}

.nft-hero button {
  position: absolute;
  bottom: 11.2%;
  left: 15%;
}

.nft-hero h2 {
  margin-bottom: 98px;
}

.nft-hero .img-thumb {
  margin-bottom: 40px;
}

.nft-bck {
  width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  background-image: url("../images/doodle_nft/elipses/Ellipse1-min.png"), url("../images/doodle_nft/elipses/Ellipse2-min.png"), url("../images/doodle_nft/elipses/Ellipse3-min.png"), url("../images/doodle_nft/elipses/Ellipse4-min.png"), url("../images/doodle_nft/elipses/Ellipse5-min.png"), url("../images/doodle_nft/elipses/Ellipse6-min.png"), url("../images/doodle_nft/elipses/Ellipse7-min.png"), url("../images/doodle_nft/elipses/Ellipse8-min.png"), url("../images/doodle_nft/elipses/Ellipse9-min.png");
  background-repeat: no-repeat;
  background-position: 60px 120px, 1040px 43px, 134px 1200px, 626px 2390px, 115px 3520px, 1000px 4520px, 110px 5290px, 100px 6315px, 750px 6330px;
}

.nft-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nft-about p {
  margin-bottom: 70px;
}

.nft-about ul {
  max-width: 628px;
}

.nft-about li:not(:last-child) {
  margin-bottom: 40px;
}

.nft-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.nft-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.nft-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */