.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 24px 24px;

    border: none;
    border-radius: 50px;
    cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;

    color: var(--title-text-color);
    background-color: var(--btn-bck-color);

    /* overflow: hidden; */
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
        color 400ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover::before,
        &:focus::before {
                opacity: 1;
                transform: translateY(20px);

                @media screen and (min-width: $tablet) {
                    transform: translateY(45px);
                }
        
            }
            &:hover::after,
            &:focus::after {
                opacity: 1;
                transform: translateY(-20px);
                @media screen and (min-width: $tablet) {
                    transform: translateY(-30px);
                }
            }
    @media screen and (min-width: $tablet) {
        font-size: 40px;
        min-width: 410px;
    }
}

.btn::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 82px;
    opacity: 0;

    background-image: url("../images/hat.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: $tablet) {
            width: 70px;
            height: 70px;
            top: 30px;
            left: 181px;
        }
}


.btn::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    bottom: 40px;

    opacity: 0;

    background-image: url("../images/rabbit.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 800ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
        width: 70px;
        height: 70px;
        bottom: 40px;
        left: 173px;
    }
}

.btn-link {
    position: relative;
    display: inline-block;
    padding: 24px 24px;
    text-decoration: none;
    text-align: center;

    border: none;
    border-radius: 50px;
    cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;

    color: var(--title-text-color);
    background-color: var(--btn-bck-color);

    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
        color 400ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: $desktop) {
            min-width: 410px;
        }
}

.btn-link::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 97px;
    opacity: 0;

    background-image: url("../images/hat.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 1700ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: $tablet) {
            width: 70px;
            height: 70px;
            top: 30px;
            left: 181px;
        }
}


.btn-link:hover::before,
.btn-link:focus::before {
    opacity: 1;
    transform: translateY(15px);
    @media screen and (min-width: $tablet) {
            transform: translateY(45px);
        }

}

.btn-link::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    bottom: 40px;
    left: 92px;

    opacity: 0;

    background-image: url("../images/rabbit.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 800ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
            width: 70px;
            height: 70px;
            bottom: 40px;
            left: 173px;
        }
}

.btn-link:hover::after,
.btn-link:focus::after {
    opacity: 1;
    transform: translateY(-20px);
    @media screen and (min-width: $tablet) {
            transform: translateY(-30px);
        }
}

.btn-link:hover,
.btn-link:focus,
.btn:hover,
.btn:focus {
    color: var(--accent-color);
    background-color: rgb(118, 21, 177);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;
    cursor: url("../images/icomoon/magic-wand_5606317.png"), pointer;

    background-color: transparent;
    color: var(--title-text-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);

    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        width: 70px;
        height: 70px;
    }
}

.close-btn-icon {
    fill: currentColor;
}