.container {
    width: 1304px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;

    // mobile screen
        @media screen and (min-width: $mobile) {
            width: $mobile;
        }
    
        // tablet screen
        @media screen and (min-width: $tablet) {
            width: $tablet;
        }
    
        // desktop screen
        @media screen and (min-width: $desktop) {
            width: $desktop;
        }
}