.nft-bck {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;

   
    // mobile screen
        @media screen and (min-width: $mobile) {
            width: $mobile;
        }
    
        // tablet screen
        @media screen and (min-width: $tablet) {
            width: $tablet;
        }
    
        // desktop screen
        @media screen and (min-width: $desktop) {
            width: 1440px;
            background-image:
                    url("../images/doodle_nft/elipses/Ellipse1-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse2-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse3-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse4-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse5-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse6-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse7-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse8-min.png"),
                    url("../images/doodle_nft/elipses/Ellipse9-min.png");
            
            background-repeat: no-repeat;
            background-position: 60px 95px, 1040px 43px, 134px 1180px, 600px 2450px, 115px 3590px, 1000px 4600px, 110px 5350px, 100px 6400px, 750px 6400px;
        }
}

.nft-thumb {
    position: relative;

    @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
    
        @media screen and (min-width: $desktop) {
            margin-bottom: 90px;
        }
}

.nft-hero h2 {
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        margin-top: 25px;
        margin-bottom: 98px;
    }
}

.nft-hero h3 {
    position: absolute;

    width: 200px;
    top: 36%;
    left: 13%;

    background-color: #F1E2DB;

    @media screen and (min-width: $tablet) {
            width: 410px;
            left: 6%;
            top: 33%;
        }
    
        @media screen and (min-width: $desktop) {
            width: 564px;
            left: 12%;
            top: 39%;
        }
}

.nft-hero button {
    position: absolute;
    top: 110%;
    left: 0%;

    @media screen and (min-width: $tablet) {
            left: 6%;
            top: 66%;
        }
    
        @media screen and (min-width: $desktop) {
            bottom: 11.2%;
            left: 15%;
        }
}

.nft-hero .img-thumb {
    margin-bottom: 40px;
}

/* about */

.nft-about {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        @media screen and (min-width: $desktop) {
            align-items: start;
        }
}

.nft-about p {
    text-align: center;
    margin-bottom: 30px;
    
        @media screen and (min-width: $desktop) {
            margin-bottom: 70px;
        }
}

.nft-about ul {
    @media screen and (min-width: $tablet) {
            max-width: 654px;
        }
    
        @media screen and (min-width: $desktop) {
            max-width: 628px;
        }
}

.nft-about li:not(:last-child) {
    margin-bottom: 40px;
}

.nft-about .img-thumb {
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }
}

/* Examples */

.nft-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* Works */

.nft-works {
    display: flex;
    gap: 24px;
}

/* teacher */

.nft-teacher {
    @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
}