/* site nav */
.header {
    display: flex;
    align-items: center;
}

.site-nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: flex;
    margin-left: 44px;
    gap: 44px;
}

.header .bucket {
    @media screen and (max-width: 767px) {
        display: none;
    }
    margin-left: auto;
}

.site-nav a {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;

    font-family: Amatic SC, sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-decoration: none;
    overflow: hidden;

    color: var(--title-text-color);

    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.nav-link:hover .nav-icon,
.nav-link:focus .nav-icon {
    opacity: 1;
    transform: translateX(620%);
}

// .nav-link:nth-child(2):hover .nav-icon,
// .nav-link:nth-child(2):focus .nav-icon {
//     opacity: 1;
//     transform: translateX(620%);
// }

// .nav-link:nth-child(3):hover .nav-icon,
// .nav-link:nth-child(3):focus .nav-icon {
//     opacity: 1;
//     transform: translateX(380%);
// }

.site-nav .current {
    color: var(--accent-color);
}

.nav-icon {
    fill: #14017D;
    opacity: 0;
    transform: translateX(-5px);
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}