.histories-bck {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;

    
    // mobile screen
        @media screen and (min-width: $mobile) {
            width: $mobile;
        }
    
        // tablet screen
        @media screen and (min-width: $tablet) {
            width: $tablet;
        }
    
        // desktop screen
        @media screen and (min-width: $desktop) {
            width: 1440px;
            background-image:
                    url("../images/histories/elipses/Ellipse1-min.png"),
                    url("../images/histories/elipses/Ellipse2-min.png"),
                    url("../images/histories/elipses/Ellipse3-min.png"),
                    url("../images/histories/elipses/Ellipse4-min.png"),
                    url("../images/histories/elipses/Ellipse5-min.png"),
                    url("../images/histories/elipses/Ellipse6-min.png");
            
                background-repeat: no-repeat;
                background-position: 120px 120px, 1080px 71px, 716px 1000px, 32px 2200px, 723px 3300px, 63px 4450px;
        }
}

/* Hero Section */

.history-hero {
    text-align: center;
}

.history-hero h2 {
    margin-bottom: 30px;
    
        @media screen and (min-width: $desktop) {
            margin-bottom: 95px;
        }
}

.history-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.history-title {
    position: absolute;
    width: 272px;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, - 50%); */

    background-color: #F1E2DB;

    @media screen and (max-width: 767px) {
            font-size: 24px;
        }

    @media screen and (min-width: $tablet) and (max-width: 1303px) {
        font-size: 63px;
        width: 700px;
    }

    @media screen and (min-width: $desktop) {
            width: 1242px;
        }
}

/* histories section  */

.histories p {
    margin-bottom: 28px;
    @media screen and (min-width: $desktop) {
        margin-bottom: 35px;
        margin-left: 225px;
    }
}

.histories .img-thumb {
    margin-bottom: 28px;
    @media screen and (min-width: $desktop) {
        width: 844px;
        margin-left: auto;
        margin-right: auto;
    }
}

.histories .text-history {
    margin-left: 0;
    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 100px;
    }
}

.histories .text-decoration {
    margin-left: 30px;
    @media screen and (min-width: $desktop) {
        margin-left: 260px;
        margin-bottom: 88px;
    }
}

.histories-flex {
    
    @media screen and (min-width: $desktop) {
        display: flex;
        gap: 24px;
        margin-bottom: 79px;
    }
}

.histories-flex .img-thumb {
    @media screen and (min-width: $tablet) and (max-width: 1303px) {
        width: 627px;
        margin-left: auto;
        margin-right: auto;
    }
}

.text-history {
    margin-left: 0;
}

.history-text {
    font-size: 26px;

    color: var(--title-text-color);

    @media screen and (min-width: $tablet) {
        font-size: 36px;
    }
        @media screen and (min-width: $desktop) {
            font-size: 48px;
        }
}

.text-decoration {
    font-size: 26px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $tablet) {
        font-size: 36px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 48px;
    }
}

.text-decoration::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    margin-right: 8px;
    background-color: var(--main-text-color);

    @media screen and (min-width: $desktop) {
        width: 12px;
        height: 12px;
        margin-right: 15px;
    }
}