:root {
    --main-text-color: black;
    --title-text-color: #14017D;
    --accent-color: rgb(53, 194, 291);
    --btn-bck-color: #D588FA;
    --input-bck: #F1E2DB;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;